<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EngineLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EngineSource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SWIGLua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>doxygen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ldoc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libnjli_lua_module.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libnjli_shared.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>libnjli_static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34933149426A420FB5EA30AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B60CC5BEE1F46EC851DAB82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54D4F9BFC84A4A60A34DFD36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C8569C59D2C4D39B98036D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71253D96E8824DA583279148</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847360838E974758BC90CC86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>963DE2B36A4B4378A523FC95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB39DBD54AE6419C880FFBF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B13381602C06484694784443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C28958AB910A4CC4B899C104</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0C0E1152012480AAF47B1BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
